doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
       h1 issam boutaib, ENSAIS 
    
      div 
        img(src = "/images/issam.jpg", alt = "Testing Image")