body 
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: red;

a 
  color: black;
  
ul li
  display: inline-block;
  margin-left: 20px;
  background-color: orange;
